{% extends "layouts/main.html" %}

{% block pageTitle %}
  Accessibility statement – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Accessibility statement for Record a ghost sighting</h1>

    <p class="govuk-body">
      This website is run by the <strong>Department for Supernatural Affairs*</strong>.  
      It has been created as part of an accessibility training exercise and
      <strong>intentionally contains accessibility issues</strong>.
    </p>

    <p class="govuk-body">
      The purpose of this site is to help learners identify, experience and fix
      common accessibility problems in a realistic environment.
      It should not be used as an example of an accessible digital service.
    </p>

     <p class="govuk-body">
     *not a real government department.
    </p>

    <h2 class="govuk-heading-m">How accessible this website is</h2>

    <p class="govuk-body">
      This site is <strong>not fully accessible</strong>. The following are examples of
      issues that have been deliberately included:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>missing or incorrect form labels</li>
      <li>focus indicators removed or inconsistent</li>
      <li>colour contrast failures</li>
      <li>heading hierarchy errors</li>
      <li>links that lack clear purpose</li>
      <li>interactive elements that cannot be reached with a keyboard</li>
      <li>missing image alt text</li>
      <li>tables without captions or summaries</li>
    </ul>

    <h2 class="govuk-heading-m">Purpose of this training site</h2>

    <p class="govuk-body">
      This service has been designed as part of a training resource to build
      awareness and confidence in testing and identifying accessibility barriers.
      Every page intentionally fails one or more <abbr title="Web Content Accessibility Guidelines">WCAG 2.2 AA</abbr> success criteria.
    </p>

    <h2 class="govuk-heading-m">Feedback and contact information</h2>

    <p class="govuk-body">
      Because this is a training resource, we don't intend to resolve these intentional issues. 
      However, you can share feedback or suggest improvements by emailing  
      <a href="mailto:lorithomson@hotmail.co.uk" class="govuk-link">lorithomson@hotmail.co.uk</a>.
    </p>

    <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>

    <p class="govuk-body">
      This statement was prepared on 31 October 2025.  
      It was last reviewed on 31 October 2025.
    </p>

   

  </div>
</div>
{% endblock %}
