{% extends "layouts/main.html" %}

{% block pageTitle %}
  Sighting details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div id="error-summary-container"></div>

      <h1 class="govuk-heading-l">
        What did you see?
      </h1>

 <form class="form" action="/checkanswers" method="post">

  {{ govukCharacterCount({
    name: "sightingDescription",
    id: "sightingDescription",
    maxlength: 200,
    label: {
      text: "Describe what the ghost looked like or what happened, you can upload a photograph or drawing later in the service."
    },
    hint: {
      text: "You can enter up to 200 characters"
    },
    textarea: {
      placeholder: "e.g. floating figure in white, cold breeze, flickering lights",
      rows: 5
    }
  }) }}

  <a href="#" class="govuk-visually-hidden govuk-focusable" tabindex="0">
    Where did this happen?
  </a>

  {{ govukInput({
    label: {
      text: "Where did the sighting happen?"
    },
    hint: {
      text: "Enter the location or address"
    },
    classes: "govuk-input--width-20",
    id: "sightingLocation",
    name: "sightingLocation",
    type: "text"
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

</form>

    </div>
  </div>
{% endblock %}
